<div class="p-4 col-4 login">
    <h1>Recover password</h1>       
    
    <p>
        Don't worry, it's easy to recover your password.
        <br>
        Enter the registered email below.
    </p>
    <form>
        <mat-form-field>
            <input type="text" matInput placeholder="Email" formControlName="username">
        </mat-form-field>

        <!-- <p *ngIf="error" class="error">
            {{ error }}
        </p> -->
        <div class="button">
            <button mat-raised-button type="submit" mat-button>Send</button>
        </div>

    </form>
</div>