<div class="p-5 col-5 login">
    <h1>Recover password</h1>       
    
    <div *ngIf="this.emailSend === false">
        <p>
            Don't worry, it's easy to recover your password.
            <br>
            Enter the registered email below.
        </p>
        <form [formGroup]="frmRecover">
            <mat-form-field>
                <input type="text" matInput placeholder="Email" formControlName="email">
            </mat-form-field>

            <!-- <p *ngIf="error" class="error">
                {{ error }}
            </p> -->
            <div class="button">
                <button [disabled]="this.frmRecover.invalid" mat-raised-button (click)="this.recover()" mat-button>Send</button>
            </div>

        </form>
    </div>
    <div *ngIf="this.emailSend === true">
        <p class="emailSend">
            Access your contact email and locate the password change message sent by Envy.
            After login you can change your password in Profile -> Change password.
        </p>
    </div>
</div>
