<div>
  <div *ngIf="this.envelope">
    <h1> {{ envelope.title }} </h1>
    <div class="row header">
      <div class="col-10">
        <p *ngIf="this.envelope.spent">Spent: R${{this.envelope.spent.toFixed(2)}} </p>
        <p *ngIf="this.envelope.budget">Budget: R${{this.envelope.budget.toFixed(2)}} </p>
      </div>
      <div class="col-1">
        <button mat-raised-button (click)="openNewTransaction()">New transaction</button>
      </div>
    </div>
  </div>
  <div class="form">
    <form [formGroup]="frmDateCreate">
      <div class="row">
          <div class="col-2 inputDate">
              <mat-form-field>
                  <input type="date" matInput placeholder="Created on from" formControlName="createdOnFrom">
              </mat-form-field>
          </div>
          <div class="col-2 inputDate">
              <mat-form-field>
                  <input type="date" matInput placeholder="Created on to" formControlName="createdOnTo">
              </mat-form-field>
          </div>
          <div class="col-2 button">
              <button [disabled]="this.frmDateCreate.invalid" mat-raised-button (click)="this.loadTransactions()"
                  mat-button>Send</button>
          </div>
      </div>
    </form>
  </div>


  <table class="table table-hover">
    <thead class="thead-dark">
      <tr>
        <th scope="col"></th>
        <th scope="col">Description</th>
        <th scope="col">Amount</th>
        <th scope="col">Date</th>
        <th scope="col" class="actions"></th>
        <th scope="col" class="actions"></th>
      </tr>
    </thead>
    <tbody>
      <ng-container *ngFor="let transaction of lstTransaction; let i = index;">
        <tr *ngIf="transaction.type === 'OUTCOME'">
          <th class="table-danger" scope="row">{{i + 1}}</th>
          <td class="table-danger">{{transaction.description}}</td>
          <td class="table-danger">R${{transaction.amount.toFixed(2)}}</td>
          <td class="table-danger">{{transaction.createdOn | date: 'dd/MM/yyyy'}}</td>
          <td class="table-danger">
            <a mat-icon-button (click)="this.edit(transaction.id)">
              <svg width="20px" height="20px" viewBox="0 0 16 16" class="bi bi-pencil-square" fill="currentColor"
                xmlns="http://www.w3.org/2000/svg">
                <path
                  d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456l-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z" />
                <path fill-rule="evenodd"
                  d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5v11z" />
              </svg>
            </a>
          </td>
          <td class="table-danger">
            <a mat-icon-button (click)="this.delete()">
              <svg width="20px" height="20px" viewBox="0 0 16 16" class="bi bi-trash-fill" fill="currentColor"
                xmlns="http://www.w3.org/2000/svg">
                <path fill-rule="evenodd"
                  d="M2.5 1a1 1 0 0 0-1 1v1a1 1 0 0 0 1 1H3v9a2 2 0 0 0 2 2h6a2 2 0 0 0 2-2V4h.5a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1H10a1 1 0 0 0-1-1H7a1 1 0 0 0-1 1H2.5zm3 4a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 .5-.5zM8 5a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7A.5.5 0 0 1 8 5zm3 .5a.5.5 0 0 0-1 0v7a.5.5 0 0 0 1 0v-7z" />
              </svg>
            </a>
          </td>
        </tr>
        <tr *ngIf="transaction.type === 'INCOME'">
          <th class="table-success" scope="row">{{i + 1}}</th>
          <td class="table-success">{{transaction.description}}</td>
          <td class="table-success">R${{transaction.amount.toFixed(2)}}</td>
          <td class="table-success">{{transaction.createdOn | date: 'dd/MM/yyyy'}}</td>
          <td class="table-success">
            <a mat-icon-button (click)="edit(transaction.id)">
              <svg width="20px" height="20px" viewBox="0 0 16 16" class="bi bi-pencil-square" fill="currentColor"
                xmlns="http://www.w3.org/2000/svg">
                <path
                  d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456l-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z" />
                <path fill-rule="evenodd"
                  d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5v11z" />
              </svg>
            </a>
          </td>
          <td class="table-success">
            <a mat-icon-button (click)="this.delete()">
              <svg width="20px" height="20px" viewBox="0 0 16 16" class="bi bi-trash-fill" fill="currentColor"
                xmlns="http://www.w3.org/2000/svg">
                <path fill-rule="evenodd"
                  d="M2.5 1a1 1 0 0 0-1 1v1a1 1 0 0 0 1 1H3v9a2 2 0 0 0 2 2h6a2 2 0 0 0 2-2V4h.5a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1H10a1 1 0 0 0-1-1H7a1 1 0 0 0-1 1H2.5zm3 4a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 .5-.5zM8 5a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7A.5.5 0 0 1 8 5zm3 .5a.5.5 0 0 0-1 0v7a.5.5 0 0 0 1 0v-7z" />
              </svg>
            </a>
          </td>
        </tr>
      </ng-container>
    </tbody>
  </table>
</div>