<div class="body row">
    <div class="col-6">
        <h1 *ngIf="false">Creatte account</h1>
        <h1 *ngIf="true">Profile</h1>
        <form [formGroup]="frmUser" class="p-grid form-group">
            <div class="col-10">
                <mat-form-field class="inputLength">
                    <input type="text" matInput placeholder="Name" formControlName="name" maxlength="150"
                        appShowErrors />
                </mat-form-field>
            </div>
            <div class="col-10">
                <mat-form-field class="inputLength">
                    <input type="text" matInput placeholder="Username" formControlName="username" maxlength="25">
                </mat-form-field>
            </div>
            <div class="col-10">
                <mat-form-field class="inputLength">
                    <mat-label>Email</mat-label>
                    <input type="email" matInput formControlName="email">
                    <mat-error *ngIf="frmUser.hasError('email') && frmUser.hasError('required')">
                        Please enter a valid email address
                    </mat-error>
                    <mat-error *ngIf="frmUser.hasError('required')">
                        Email is <strong>required</strong>
                    </mat-error>
                </mat-form-field>
            </div>
            <div *ngIf="this.isEdit === false" class="col-10">
                <mat-form-field class="inputLength">
                    <input type="password" matInput placeholder="Password" formControlName="password" maxlength="50">
                </mat-form-field>
            </div>
            <div class="col-10">
                <mat-form-field class="inputLength">
                    <input type="date" matInput placeholder="Birthdate" formControlName="birthDate">
                </mat-form-field>
            </div>
        </form>
        <div class="bar-buttons col-10">
            <div class="button">
                <button class="button" (click)="this.limpar()" mat-raised-button mat-button>Clean</button>
                <button class="button" [disabled]="this.frmUser.invalid" (click)="this.save()" mat-raised-button mat-button>Save</button>
            </div>
        </div>
    </div>
    <div *ngIf="this.isEdit"  class="col-6">
        <h1>Change Password</h1>
        <form [formGroup]="changePasswordForm" class="p-grid form-group">
            <div class="col-10">
                <mat-form-field class="inputLength">
                    <input type="password" matInput placeholder="Previous password" formControlName="previousPassword" maxlength="150"
                        appShowErrors />
                </mat-form-field>
            </div>
            <div class="col-10">
                <mat-form-field class="inputLength">
                    <input type="password" matInput placeholder="New password" formControlName="newPassword" maxlength="150"
                        appShowErrors />
                </mat-form-field>
            </div>
            <div class="bar-buttons col-10">
                <div class="button">
                    <button class="button" [disabled]="this.changePasswordForm.invalid" (click)="this.changePassword()" mat-raised-button mat-button>Save</button>
                </div>
            </div>
        </form>
    </div>
</div>