<div class="navbar-nav mr-auto">
  <div class="nav-item">
    <a
      routerLink="/"
      class="nav-link"
      routerLinkActive="router-link-exact-active"
      [routerLinkActiveOptions]="{ exact: true }"
    >
      Home
    </a>
  </div>
  <div  *ngIf="this.accountService.loggedIn()" class="nav-item">
    <a
      routerLink="/envelopes"
      class="nav-link"
      routerLinkActive="router-link-exact-active"
    >
      Envelopes
    </a>
  </div>
  <div *ngIf="this.accountService.loggedIn()" class="nav-item">
    <a
      routerLink="/report"
      class="nav-link"
      routerLinkActive="router-link-exact-active"
    >
      Report
    </a>
  </div>
  <div *ngIf="this.accountService.loggedIn()" class="nav-item">
    <a
      routerLink="/profile"
      class="nav-link"
      routerLinkActive="router-link-exact-active"
    >
      Profile
    </a>
  </div>
</div>
